$clr-dark: #424242
$clr-bright: white
$clr-primary: #81f787

// =======================
//  Root Styles
// =======================

*
    box-sizing: border-box
body
    background: $clr-dark
    color: $clr-bright
    font-family: 'Roboto', sans-serif
    margin: 0

// =======================
//  Header
// =======================

.header
    grid-area: header
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: space-between
    padding: 0.5em
    background-color: black
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7)
    .brand
        align-self: flex-start
        display: flex
        flex-flow: row nowrap
        align-items: center
        &__logo
            width: 100px
            height: auto
            border-radius: 50px
        &__title
            display: inline-block
            font-size: 2rem
            font-weight: 900
            padding-left: 0.5em
    &__bars
        margin: auto
        padding: 0 1em 0 1em
        font-size: 2rem
        z-index: 11

@media screen and (min-width: 500px) 
    .header__bars
            margin: 0
// =======================
//  Menu
// =======================

.menu__toggle
    transition:linear opacity 0.5s // This has to be set for the .fadeOut() to work
    cursor: pointer

.menu
    &__blackout
        display: none
        position: fixed
        top: 0
        right: 0
        bottom: 0
        left: 0
        background-color: rgba(0, 0, 0, 0.5)
        z-index: 10
    &__collapse
        position: absolute
        top: 0
        right: 100vw
        bottom: 0
        left: -70vw
        background: grey
        transition: ease-in-out all 0.5s
        z-index: 11
    &__list
        list-style-type: none
        padding: 0
        margin: 0
        display: flex
        flex-flow: column
        &__item
            flex: 1
            text-align: center
            a
                display: flex
                flex-flow: row
                padding: 1em
                color: $clr-primary
                text-decoration: none
                justify-content: space-between
                &:hover
                    background: white
                    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7)
            &__icon
                justify-self: flex-end


// =======================
//  Responsiveness
// =======================

.page-container
    display: grid
    grid-template-columns: 3% 94% 3%
    grid-template-rows: auto
    grid-template-areas: "header header header" "side--left content side--right" "footer footer footer"
    grid-row-gap: 1em

// =======================
//  Sections and Cards
// =======================

content
    grid-area: content
    display: flex
    flex-flow: column nowrap
    #view
        .section
            &__title
               font-size: 1.5rem
               font-weight: 300
               text-transform: uppercase
               padding-bottom: 1em
               &::before
                   content: "//"
                   padding-right: 0.5em

.card
    border: 3px solid $clr-bright
    &__header
        font-size: 1.5rem
        text-align: center
        pointer-events: none
        padding: 1em
        background-image: url("//unsplash.it/500/150")
        background-position-x: center
        background-position-y: top
        clip-path: polygon(0 0, 100% 0, 100% 120%, 80% 100%, 20% 1000%, 0 120%)
        h2
            position: relative
            display: inline-block
            padding: 0.3em
            background-color: white
            color: black
            border-radius: 10px
            mix-blend-mode: screen
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.7)
    &__body
        display: none
        padding: 1em
        margin-top: -2em
.card + .card
    margin-top: 1em
                        